# MongoDB with Python- Querying Json Documents

In [1]:
import pymongo

In [2]:
client=pymongo.MongoClient('mongodb://127.0.0.1:27017/')

In [3]:
mydb=client['Attendance2']

In [4]:
empinfo=mydb.attendancetinformation

### INSERT

In [5]:
records={
    'firstname':'Ram',
    'lastname':'Lal',
    'department':'Analytics',
    'qualification':'masters',
    'age':25}

empinfo.insert_one(records)

In [6]:
records=[{
    'firstname':'Mohan',
    'lastname':'Pyare',
    'department':'Deployment',
    'qualification':'phd'},
    {
    'firstname':'John',
    'lastname':'Doe',
    'department':'Analytics',
    'qualification':'statistics',
    'age':35},
    {
    'firstname':'John ',
    'lastname':'Smith',
    'department':'Analytics',
    'qualification':'masters',
    'age':30},
    {
    'firstname':'Manish',
    'lastname':'Sen',
    'department':'Analytics',
    'qualification':'phd',
    'age':34},
    {
    'firstname':'Ram',
    'lastname':'Singh',
    'department':'Analytics',
    'qualification':'masters',
    'age':32}
    
]
empinfo.insert_many(records)

### FIND

In [7]:
empinfo.find_one()   ##returns the first record

{'_id': ObjectId('60d2f9ceba7078dcba8f2c03'),
 'firstname': 'Ram',
 'lastname': 'Lal',
 'department': 'Analytics',
 'qualification': 'masters',
 'age': 25}

In [8]:
for record in empinfo.find({}):    ##returns all records
    print(record)

{'_id': ObjectId('60d2f9ceba7078dcba8f2c03'), 'firstname': 'Ram', 'lastname': 'Lal', 'department': 'Analytics', 'qualification': 'masters', 'age': 25}
{'_id': ObjectId('60d2f9cfba7078dcba8f2c04'), 'firstname': 'Mohan', 'lastname': 'Pyare', 'department': 'Deployment', 'qualification': 'phd'}
{'_id': ObjectId('60d2f9cfba7078dcba8f2c05'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}
{'_id': ObjectId('60d2f9cfba7078dcba8f2c06'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('60d2f9cfba7078dcba8f2c07'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('60d2f9cfba7078dcba8f2c08'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'masters', 'age': 32}

In [9]:
## Query the json documents based on equality conditions
for record in empinfo.find({'firstname':'Mohan'}):
    print(record)

{'_id': ObjectId('60d2f9cfba7078dcba8f2c04'), 'firstname': 'Mohan', 'lastname': 'Pyare', 'department': 'Deployment', 'qualification': 'phd'}

In [10]:
## Query documents using query operators($in,$lt,$gt)

for record in empinfo.find({'qualification':{'$in':['phd','masters']}}):
    print(record)

{'_id': ObjectId('60d2f9ceba7078dcba8f2c03'), 'firstname': 'Ram', 'lastname': 'Lal', 'department': 'Analytics', 'qualification': 'masters', 'age': 25}
{'_id': ObjectId('60d2f9cfba7078dcba8f2c04'), 'firstname': 'Mohan', 'lastname': 'Pyare', 'department': 'Deployment', 'qualification': 'phd'}
{'_id': ObjectId('60d2f9cfba7078dcba8f2c06'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('60d2f9cfba7078dcba8f2c07'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('60d2f9cfba7078dcba8f2c08'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'masters', 'age': 32}

In [11]:
## And and Query operators

for record in empinfo.find({'qualification':'masters','age':{'$lt':35}}): ###'$lt' means less than operator
    print(record)

{'_id': ObjectId('60d2f9ceba7078dcba8f2c03'), 'firstname': 'Ram', 'lastname': 'Lal', 'department': 'Analytics', 'qualification': 'masters', 'age': 25}
{'_id': ObjectId('60d2f9cfba7078dcba8f2c06'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('60d2f9cfba7078dcba8f2c08'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'masters', 'age': 32}

In [12]:
for record in empinfo.find({'qualification':'masters','age':{'$gt':25}}): ###'$gt' means greater than operator
    print(record)

{'_id': ObjectId('60d2f9cfba7078dcba8f2c06'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('60d2f9cfba7078dcba8f2c08'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'masters', 'age': 32}

In [13]:
## OR operators

for record in empinfo.find({'$or':[{'firstname':'Ram'},{'qualification':'masters'}]}):
    print(record)

{'_id': ObjectId('60d2f9ceba7078dcba8f2c03'), 'firstname': 'Ram', 'lastname': 'Lal', 'department': 'Analytics', 'qualification': 'masters', 'age': 25}
{'_id': ObjectId('60d2f9cfba7078dcba8f2c06'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('60d2f9cfba7078dcba8f2c08'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'masters', 'age': 32}

In [14]:
## AND operators 

for record in empinfo.find({'$and':[{'firstname':'Ram'},{'qualification':'masters'}]}):
    print(record)

{'_id': ObjectId('60d2f9ceba7078dcba8f2c03'), 'firstname': 'Ram', 'lastname': 'Lal', 'department': 'Analytics', 'qualification': 'masters', 'age': 25}
{'_id': ObjectId('60d2f9cfba7078dcba8f2c08'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'masters', 'age': 32}

In [15]:
## NESTED documents

inventory=mydb.inventory

In [16]:
inventory.insert_many( [
   { 'item': "journal", 'qty': 25, 'size': { 'h': 14, 'w': 21,'uom': "cm" }, 'status': "A" },
   { 'item': "notebook", 'qty': 50,'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "A" },
   { 'item': "paper", 'qty': 100, 'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "D" },
   { 'item': "planner", 'qty': 75, 'size': { 'h': 22.85,'w': 30,'uom': "cm" },'status': "D" },
   { 'item': "postcard", 'qty': 45, 'size': { 'h': 10, 'w': 15.25,'uom': "cm" },'status': "A" }
]);

In [17]:
for records in inventory.find({'size': { 'h': 14, 'w': 21,'uom': "cm" }}):
    print(records)

{'_id': ObjectId('60d2fc70ba7078dcba8f2c09'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}