# MongoDB Aggregate And Group

In [2]:
from pymongo import MongoClient

# creation of object MongoClient 
client=MongoClient()

# Connect with the portnumber and host 
client=MongoClient('mongodb://127.0.0.1:27017/')

# Access database  
mydatabase=client['Students']

# Access collection of the database  
collection=mydatabase['studentscores']

data = [ 
    {"user":"Abhishek", "subject":"Database", "score":80}, 
    {"user":"Swarnava",  "subject":"JavaScript", "score":90}, 
    {"user":"Swarnava",  "title":"Database", "score":85}, 
    {"user":"Abhishek",  "title":"JavaScript", "score":75}, 
    {"user":"Swarnava",  "title":"Data Science", "score":60},
    {"user":"Abhishek",  "title":"Data Science", "score":95}] 
    

collection.insert_many(data)

## SUM

In [7]:
### Find Swarnava And Abhishek Total Subjects

agg_result= collection.aggregate( 
    [{ 
    "$group" :  
        {"_id" : "$user",  
         "Total Subject" : {"$sum" : 1} 
         }} 
    ])

In [8]:
for i in agg_result:
    print(i)

{'_id': 'Swarnava', 'Total Subject': 3}
{'_id': 'Abhishek', 'Total Subject': 3}

In [11]:
### Calculating the total score based on user

agg_result= collection.aggregate( 
    [{ 
    "$group" :  
        {"_id" : "$user",  
         "Total Marks" : {"$sum" :"$score"} 
         }} 
    ]) 
for i in agg_result: 
    print(i)

{'_id': 'Abhishek', 'Total Marks': 250}
{'_id': 'Swarnava', 'Total Marks': 235}

## AVERAGE

In [12]:
### Calculating the average score based on user

agg_result=collection.aggregate([
    {'$group':
            {'_id':'$user',
            'StudentscoreAverage':
                                 {'$avg':'$score'}}}
])

for i in agg_result:
    print(i)

{'_id': 'Abhishek', 'StudentscoreAverage': 83.33333333333333}
{'_id': 'Swarnava', 'StudentscoreAverage': 78.33333333333333}

In [13]:
import datetime as datetime

In [14]:
### Create a new collection

data=[{ "_id" : 1, "item" : "abc", "price" : 10, "quantity" : 2, "date" : datetime.datetime.utcnow()},
{ "_id" : 2, "item" : "jkl", "price" : 20, "quantity" : 1, "date" : datetime.datetime.utcnow() },
{ "_id" : 3, "item" : "xyz", "price" : 5, "quantity" : 5, "date" : datetime.datetime.utcnow() },
{ "_id" : 4, "item" : "abc", "price" : 10, "quantity" : 10, "date" : datetime.datetime.utcnow() },
{ "_id" : 5, "item" : "xyz", "price" : 5, "quantity" : 10, "date" :datetime.datetime.utcnow() }]

In [15]:
data

[{'_id': 1,
  'item': 'abc',
  'price': 10,
  'quantity': 2,
  'date': datetime.datetime(2021, 6, 23, 13, 43, 24, 436969)},
 {'_id': 2,
  'item': 'jkl',
  'price': 20,
  'quantity': 1,
  'date': datetime.datetime(2021, 6, 23, 13, 43, 24, 436969)},
 {'_id': 3,
  'item': 'xyz',
  'price': 5,
  'quantity': 5,
  'date': datetime.datetime(2021, 6, 23, 13, 43, 24, 436969)},
 {'_id': 4,
  'item': 'abc',
  'price': 10,
  'quantity': 10,
  'date': datetime.datetime(2021, 6, 23, 13, 43, 24, 436969)},
 {'_id': 5,
  'item': 'xyz',
  'price': 5,
  'quantity': 10,
  'date': datetime.datetime(2021, 6, 23, 13, 43, 24, 436969)}]

In [16]:
mycollection=mydatabase['stores']
mycollection.insert_many(data)

In [18]:
### Calculating the average quantity And Average Price

agg_result=mycollection.aggregate([
    {'$group':
              {'_id':'$item',
               'avgAmount':{'$avg':{'$multiply':['$price','$quantity']}},
               'avgQuantity':{'$avg':'$quantity'}
               
              }}])

for i in agg_result:
    print(i)

{'_id': 'abc', 'avgAmount': 60.0, 'avgQuantity': 6.0}
{'_id': 'jkl', 'avgAmount': 20.0, 'avgQuantity': 1.0}
{'_id': 'xyz', 'avgAmount': 37.5, 'avgQuantity': 7.5}

#### $Project

In [19]:
#### $Project

data=[{
  "_id" : 1,
  "title": "abc123",
  "isbn": "0001122223334",
  "author": { "last": "zzz", "first": "aaa" },
  "copies": 5
},
{
  "_id" : 2,
  "title": "Baked Goods",
  "isbn": "9999999999999",
  "author": { "last": "xyz", "first": "abc", "middle": "" },
  "copies": 2
}
]

In [20]:
# Access collection of the database  

collection=mydatabase['Books']

In [21]:
collection.insert_many(data)

In [22]:
for row in collection.aggregate( [ { "$project": { "title": 1,"isbn":1 } } ] ):
    print(row)

{'_id': 1, 'title': 'abc123', 'isbn': '0001122223334'}
{'_id': 2, 'title': 'Baked Goods', 'isbn': '9999999999999'}